site_name: Fridge App Backend API Documentation
site_description: API documentation for the Fridge App Backend project.
site_url: https://rchretien.github.com.github.io/fridge-app-backend
repo_url: https://rchretien.github.com/fridge-app-backend
repo_name: rchretien.github.com/fridge-app-backend

theme:
  name: material

nav:
  - Home: index.md

plugins:
  - search

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
